img.card-img-top {
    object-fit: cover;
    cursor: pointer;
    max-height: 150px !important;
    max-width: 150px !important;
}
img.card-img-top.girar {
    animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
  padding-bottom: 70px;
  background-color: black;
}
center, h1{
    background-color: white;
    
}